workflows/live-scraper.json
{"updatedAt":"2026-01-18T18:25:36.441Z","createdAt":"2026-01-18T13:01:34.162Z","id":"oqihIkB7Ur9WVJZG","name":"Gov.il Decisive Appraisal Scraper","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"start-node","name":"Start","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,304]},{"parameters":{"jsCode":"return {\n  baseUrl: 'https://www.gov.il/he/departments/dynamiccollectors/decisive_appraisal_decisions',\n  scraperApiKey: '566e1370a3f3158b969f898e102c7fd0',\n  currentSkip: 0,\n  pageSize: 10,\n  maxPages: 2,\n  allDocuments: []\n};"},"id":"set-config-node","name":"Set Config","type":"n8n-nodes-base.code","typeVersion":2,"position":[208,304]},{"parameters":{"url":"={{ 'https://api.scraperapi.com?api_key=' + $json.scraperApiKey + '&url=' + encodeURIComponent($json.baseUrl + '?skip=' + $json.currentSkip) + '&render=true&premium=true' }}","options":{}},"id":"http-request-node","name":"Fetch Gov.il API","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[400,304]},{"parameters":{"jsCode":"// Parse gov.il decisive appraisal decisions HTML\nconst html = $input.first().json.data || $input.first().json.body || String($input.first().json);\nconst config = $('Set Config').first().json;\nconst existingDocs = config.allDocuments || [];\n\nlet documents = [];\nlet debug = { htmlLength: html.length };\n\n// Extract decisions using the specific gov.il HTML structure\nconst titlePattern = /<h3 class=\"txt bold ng-binding\">([^<]+)<\\/h3>/gi;\nconst pdfPattern = /href=\"(https:\\/\\/free-justice\\.openapi\\.gov\\.il[^\"]+)\"/gi;\n\nconst titles = [];\nlet match;\nwhile ((match = titlePattern.exec(html)) !== null) {\n  titles.push(match[1].trim());\n}\n\nconst pdfLinks = [];\nwhile ((match = pdfPattern.exec(html)) !== null) {\n  pdfLinks.push(match[1]);\n}\n\ndebug.titlesFound = titles.length;\ndebug.pdfLinksFound = pdfLinks.length;\n\nconst datePattern = /<bdi>(\\d{1,2}\\.\\d{1,2}\\.\\d{4})<\\/bdi>/gi;\nconst dates = [];\nwhile ((match = datePattern.exec(html)) !== null) {\n  dates.push(match[1]);\n}\n\nfor (let i = 0; i < titles.length; i++) {\n  const title = titles[i];\n  const pdfUrl = pdfLinks[i] || '';\n  const date = dates[i] || '';\n\n  const titleMatch = title.match(/הכרעת שמאי (מכריע|מייעץ) מיום (\\d{2}-\\d{2}-\\d{4}) בעניין ([^נ]+)נ ([^ג]+)ג (\\d+) ח (\\d+) - (.+)/);\n\n  let metadata = {};\n  if (titleMatch) {\n    metadata = {\n      appraiserRole: titleMatch[1] === 'מכריע' ? 'שמאי מכריע' : 'שמאי מייעץ',\n      decisionDate: titleMatch[2],\n      caseType: titleMatch[3].trim(),\n      committee: titleMatch[4].trim().replace('ועדה מקומית ', ''),\n      block: titleMatch[5],\n      plot: titleMatch[6],\n      appraiser: titleMatch[7].trim()\n    };\n  }\n\n  documents.push({\n    title: title,\n    url: pdfUrl,\n    publishDate: date,\n    id: 'decision-' + (existingDocs.length + i),\n    ...metadata\n  });\n}\n\ndebug.htmlSample = html.substring(0, 2000);\n\nconst allDocuments = [...existingDocs, ...documents];\nconst hasMore = documents.length >= 5 && (config.currentSkip / config.pageSize) < config.maxPages - 1;\n\nreturn {\n  documents: allDocuments,\n  newCount: documents.length,\n  hasMore,\n  currentSkip: config.currentSkip,\n  nextSkip: config.currentSkip + config.pageSize,\n  baseUrl: config.baseUrl,\n  scraperApiKey: config.scraperApiKey,\n  pageSize: config.pageSize,\n  maxPages: config.maxPages,\n  debug\n};"},"id":"code-node","name":"Process Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[608,304]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"has-more-condition","leftValue":"={{ $json.hasMore }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"if-node","name":"Has More Pages?","type":"n8n-nodes-base.if","typeVersion":2,"position":[800,304]},{"parameters":{"assignments":{"assignments":[{"id":"baseUrl","name":"baseUrl","value":"={{ $json.baseUrl }}","type":"string"},{"id":"scraperApiKey","name":"scraperApiKey","value":"={{ $json.scraperApiKey }}","type":"string"},{"id":"currentSkip","name":"currentSkip","value":"={{ $json.nextSkip }}","type":"number"},{"id":"pageSize","name":"pageSize","value":"={{ $json.pageSize }}","type":"number"},{"id":"maxPages","name":"maxPages","value":"={{ $json.maxPages }}","type":"number"},{"id":"allDocuments","name":"allDocuments","value":"={{ $json.documents }}","type":"array"}]},"options":{}},"id":"update-skip-node","name":"Update Skip","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1008,208]},{"parameters":{"fieldToSplitOut":"documents","options":{}},"id":"split-out-node","name":"Split Documents","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1008,400]},{"parameters":{"method":"POST","url":"https://a-i-do.app.n8n.cloud/webhook/process-documents","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ documents: $json.documents }) }}","options":{"timeout":300000}},"id":"send-to-processor-node","name":"Send to Document Processor","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1552,112]}],"connections":{"Start":{"main":[[{"node":"Set Config","type":"main","index":0}]]},"Set Config":{"main":[[{"node":"Fetch Gov.il API","type":"main","index":0}]]},"Fetch Gov.il API":{"main":[[{"node":"Process Response","type":"main","index":0}]]},"Process Response":{"main":[[{"node":"Has More Pages?","type":"main","index":0}]]},"Has More Pages?":{"main":[[{"node":"Update Skip","type":"main","index":0}],[{"node":"Split Documents","type":"main","index":0}]]},"Update Skip":{"main":[[{"node":"Fetch Gov.il API","type":"main","index":0}]]},"Split Documents":{"main":[[{"node":"Send to Document Processor","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"6ec50fd0-da84-4530-a8f2-ce8193fb2d79","activeVersionId":null,"versionCounter":12,"triggerCount":0,"shared":[{"updatedAt":"2026-01-18T13:01:34.166Z","createdAt":"2026-01-18T13:01:34.166Z","role":"workflow:owner","workflowId":"oqihIkB7Ur9WVJZG","projectId":"QA4TK09oLlyNgGPd","project":{"updatedAt":"2025-07-17T12:41:21.147Z","createdAt":"2025-07-17T12:41:18.307Z","id":"QA4TK09oLlyNgGPd","name":"Eitan Rudiakov <parallax.intel@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"ded15e5c-2dd8-4d21-8fe5-d4fcefa4ea9e","projectRelations":[{"updatedAt":"2025-07-17T12:41:18.307Z","createdAt":"2025-07-17T12:41:18.307Z","userId":"ded15e5c-2dd8-4d21-8fe5-d4fcefa4ea9e","projectId":"QA4TK09oLlyNgGPd","user":{"updatedAt":"2026-01-18T09:23:48.000Z","createdAt":"2025-07-17T12:41:16.774Z","id":"ded15e5c-2dd8-4d21-8fe5-d4fcefa4ea9e","email":"parallax.intel@gmail.com","firstName":"Eitan","lastName":"Rudiakov","personalizationAnswers":null,"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"xrgfgC403fkkqYEY","userActivatedAt":1753015067134,"npsSurvey":{"responded":true,"lastShownAt":1754922601221},"dismissedCallouts":{"aiAgentStarterCallout":true},"userClaimedAiCredits":true},"disabled":false,"mfaEnabled":true,"lastActiveAt":"2026-01-17","isPending":false}}]}}],"tags":[],"activeVersion":null}